body {
    padding: 10px;
}

@keyframes custom{
        0%{
            left: 0%;
        }
        50%{
            font-size: 60px;
            background-color:red;
        }
        75%{
            left: 35%
        }
        80%{
            font-size: 35px;
        }
        100%{
            left: 0%;
        }
    }
#title{
    color: rgba(0, 0, 0, 0.795);
    position: relative;
    animation-name: custom;
    animation-duration: 2s;
    font-size: 45px;
    font-family: sans-serif;
}
